[submodule "dev/behavioral-model"]
	path = dev/behavioral-model
	url = https://github.com/p4lang/behavioral-model.git
	branch = main
[submodule "dev/p4-dpdk-target"]
	path = dev/p4-dpdk-target
	url = https://github.com/p4lang/p4-dpdk-target.git
	branch = main
[submodule "dev/p4c"]
	path = dev/p4c
	url = https://github.com/p4lang/p4c.git
	branch = main
[submodule "dev/PI"]
	path = dev/PI
	url = https://github.com/p4lang/PI.git
	branch = main
