[submodule "env/behavioral-model"]
	path = env/behavioral-model
	url = https://github.com/p4lang/behavioral-model.git
	branch = main
[submodule "env/p4-dpdk-target"]
	path = env/p4-dpdk-target
	url = https://github.com/p4lang/p4-dpdk-target.git
	branch = main
[submodule "env/p4c"]
	path = env/p4c
	url = https://github.com/p4lang/p4c.git
	branch = main
[submodule "env/PI"]
	path = env/PI
	url = https://github.com/p4lang/PI.git
	branch = main
